@font-face {
  font-family: 'Montserrat-Medium';
  src: local('Montserrat'),
    url('./assets//Fonts//Montserrat-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: local('Montserrat'),
    url('./assets//Fonts//Montserrat-SemiBold.ttf') format('truetype');
}
